.error-page {
  text-align: center;
  padding: 100px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.error-code {
  color: #FF6060;
  font-size: 288px;
  font-weight: 700;
  width: 597px;
  height: 263px;
  margin: 50px 0;
  line-height: 0.7;
}

.error-message {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  margin: 50px 0;
}

.error-link {
  color: #000000;          
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;  
  margin-top: 50px;
}

.error-link:hover {
  color: #FF6060;          
}
